---
---

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,600,400);

@import 'variables';
@import 'responsive';
@import 'syntax';

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $black;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  overflow: hidden;
}

a {
  color: #8085C1;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: #555;
  border: none;
}

img{
  max-width: 100%;
}

.separator {
  color: #555;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  width: 100%;
  max-width: 210px;
}

h1.title{
  text-indent: -100000px;
  line-height:0;
}

.posts a {
  color: #444;
}

.posts a:hover {
  color: #777;
}

.posts-list {
  list-style-type: none;
  margin-top: -12px;
  padding-top: 12px;
  border-left: 2px solid $black;
}

.posts-list li {
  border: none !important;
  text-align: right;
  font-size: 1.1em !important;
  padding-bottom: 0px !important;

  &::after{
      content: "";
      background-color: $black;
      width: 0px;
      height: 2px;
      display: block;
      transition: ease 1s;
      z-index: -1;
      clear: both;

  }

  &:hover{
      background-color: white !important;
      
      a {
        color: $black !important;
      }

       &::after{
        width: 90%;
      }
  }
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.tagline {
  width: 100%;
  color: #787878;
  font-weight: 600;
  text-align: center;
  margin-top: 0.5em;
  display: block;
}

.posts {
  text-align: center;
  font-weight: 500;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

.footer {
  font-size: 0.95em;
  border-top: 1px solid #e7e7e7;
  padding-top: 1.25em;
  padding-bottom: 1.5em;
  overflow: hidden;
  float: center;
  text-align: center;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#date {
  font-size: 16px;
  padding-top: 0.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-weight: 600;
  color: #787878;
}

#cover-photo-container,
#info-container {
  display: block;
}

#cover-photo{
}

#info-container {
  margin-top: 3em;
  margin-left: 2.15em;
}

#title {
  color: #4a4a4a;
  margin-bottom: 0.35em;
  font-size: 3em;
  line-height: 40px;
  text-transform: uppercase;
}

.post {
  line-height: 24px;
  max-width: 825px;
  clear: both;
  margin-left: 2.15em;

  h2 {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

}

.post a,
#about a {
  border-bottom: 1px solid #8085C1;
}

.post a:hover {
  border: none;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post p {
  font-size: 17px;
  margin-bottom: 1.45em;
  text-align: justify;
}

.post ul, .post ol {
  margin-left: 2.35em;
  margin-bottom: 1.25em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 14%;
  padding-left: 11em;
  padding-right: 3em;
}

.about{

    a{
      display: block;
      clear:both;
      
            &::before{
              content: "";
              background-color: $black;
              width: 0px;
              float: left;
              height: 27px;
              margin: 0 -40px -8px 0;
              display: inline-block;
              transition: ease 1s;
            }

        &:hover {

         &::before{
          width: 20%;
        }

      }


    }
}

.nav {

  li {
    font-size: 1.2em;
    line-height: 1;
    margin-bottom: 12px;
    padding-bottom: 8px;
    list-style-type: none;
    font-weight: 500;
    color: $black;
    border-bottom: 2px solid $black;
    transition: ease .4s;

    a {
      color: $black;
      font-weight: 300;
      font-weight: 600;
      transition: ease .2s;
      }

  }

}

.static:hover{
  background-color:white!important;
  color: $black!important;
}

.proyectos{
  text-align: center;
  font-weight:300;
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

.post-link {
  margin-bottom: 0.75em;
}

.post-title {
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.8;
}

.post-date {
  color: #8a8a8a;
  font-weight: 600;
  font-size: 0.65em;
  display: block;
  padding-top: 5px;
  text-transform: uppercase;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
  border-top: 1px dotted #e7e7e7;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: #777;
  margin-left: 2.15em;
}

/*****************************************************************************/
/*
/* Formas y Contacto
/*
/*****************************************************************************/

.sendbutton{
  text-transform: uppercase;
  padding: 13px;
  margin-top: 35px;
  border-bottom: 2px solid $black;
  border-right: 2px solid $black;
  border-top: none;
  border-left: none;
  background-color: white;
  box-shadow: none;
  color: $black;
  font-weight: 600;
  font-size: 1em;
  transition: .3s ease;
}

form{
  width:50%;
}

label{
    font-weight: 300;
    font-size: 1.3em;
    float: left;
    clear:both;
}

input{
  line-height: 2;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  padding-left: 10px;
  float: left;
  clear:both;
}

textarea{
  line-height: 2;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  padding-left: 10px;
  float: left;
  clear:both;
  min-height: 100px;
  width: 100%;
}

.social-links{
  list-style-type: none;
  margin-bottom: 10.25em !important;

  li{
    float:left;
  }

}

.social {
  float: left;
  width: 53px;
  height: 53px;
  margin: 10px;
  background-size: 224px;
  background-repeat: no-repeat;
  background-image: url(/images/social.svg);
  border-bottom: none !important;
}

.email {
  clear: left;
  background-position: 0px 0px;
}
.email:hover {
  background-position: 0px -56px;
}

.facebook {
  background-position: -56px 0px;
}
.facebook:hover {
  background-position: -56px -56px;
}

.tumblr {
  background-position: -113px 0px;
}
.tumblr:hover {
  background-position: -113px -56px;
}

.twitter {
  background-position: -169px 0px;
}
.twitter:hover {
  background-position: -169px -56px;
}

/*****************************************************************************/
/*
/* Ojo animado
/*
/*****************************************************************************/

#follower{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-image: url("/images/eye.svg");
  background-size: contain;
}

.centerdiv {
    width:150px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}
.container
{
  width: 55px;
  height: 26px;
  position: absolute;
  top: -74px;
  left: 47px;
  overflow: hidden;
  border: 1px solid #000000;
  z-index: -1;
}