---
---

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,600,400);

@import 'variables';
@import 'responsive';
@import 'syntax';

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $black;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  overflow: hidden;
}

a {
  color: $contrastblue;
  text-decoration: none;
  border: none;
}

a img {
  outline: none;
}

a:hover {
  color: $black;
  border: none;
}

img{
  max-width: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#logo {
  width: 100%;
  max-width: 210px;
}

#logomobile{
	width: 100%;
  max-width: 210px;
	display: none;
}

h1.title{
  text-indent: -100000px;
  line-height:0;
}

.posts a {
  color: $contrastblue;
}

.posts a:hover {
  color: $black;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  height: 100%;
  width: 100%;
  line-height: 1.25em;
}

.title {
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

.posts {
  text-align: center;
  font-weight: 500;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#cover-photo-container,
#info-container {
  display: block;
}

#cover-photo-container{
	    max-height: 720px;
	    overflow: hidden;
}

#info-container {
  margin-top: 3em;
  margin-left: 2.15em;
}

#title {
  font-size: 2em;
  line-height: 5px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.post {
  line-height: 24px;
  max-width: 930px;
  clear: both;
  margin: 0 2.15em;

  h2 {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    font-size: 16px;
  }

}

.post a,
#about a {
  border-bottom: 1px solid $contrastblue;
}

.post h2 a {
  text-transform: uppercase;
}

.post a:hover {
  border: none;
}

.post p {
  font-size: 15px;
  margin-bottom: 1.45em;
  text-align: left;
}

/* code */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/*****************************************************************************/
/*
/* Sidebar and Content
/*
/*****************************************************************************/

.sidebar,
.content {
  vertical-align: top;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar {
  float: left;
  width: 205px;
  padding:0 3em;
}

nav {
  text-align: center;
  font-weight: 500;
  margin-top: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.25em;

        li {
          overflow: hidden;
          font-size: 1.1em;
          line-height: 1;
          list-style-type: none;
          padding-top: 7px;
          margin-bottom: -7px;

         &:nth-child(3){

             &:hover{
                  &::after {
                    margin-left: -95px;
                  }
             }
          }

          &::after {
            content: url("/images/flecha.svg");
            width: 30px;
            display: block;
            margin-left: -95px;
            transition: ease .8s;
            z-index: -1;
            clear: both;
          }

          &:hover {
             &::after{
              margin-left: -290px;
            }
          }
      }

      a {
        display: block;
        clear:both;
        transition: ease .2s;
        color: $black;
        padding-bottom: 2px;
      }

      ul:nth-child(2) {

          li{
            font-style: italic;
            font-size: 1em;
            margin-bottom: 0;
            padding-bottom: 0;
            transition: ease .3s;
            text-transform: capitalize;
            padding: 2px 8px;
            text-align: right;

               a {
                font-size: 1.1em;
                line-height: 1.8;
                padding-bottom: 0px;
               }

              &::after{
                display:none;
                } 

                &:hover {
                  background-color: $black;

                    
                      a {
                        color: $white;
                        font-weight: 500;
                      }
                }
          }
    }

}

.activesub{
    background-color: $black;

  a{
    color:$white;
  }
}
.active{

  &::before{
    content: "";
    display: inline-block;
    height: 27px;
    float: left;
    margin-bottom: -20px;
    background-color: $black;
    width: 5px;
    margin-top: -7px;
  }

  &:hover{
    &::after{
      margin-left: -95px !important; 
    }
  }
}

.header {
  text-align: center;
  padding-top: 2.5em;
  font-size: 1.1em;
}

#sidebar-button {
  height: intrinsic;
  cursor: pointer;
  display: none;
  padding: 15px 5px 0px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid $black;
}

#sidebar-button:active,
#sidebar-button:hover {
  opacity: 0.7;
}

/*****************************************************************************/
/*
/* Colophon
/*
/*****************************************************************************/

.colophon {
  margin-top: 1.5em;
  margin-bottom: 1.45em;
}

.colophon p {
  margin-top: 1.25em;
  font-size: 0.95em;
  color: $black;
  margin-left: 2.15em;
}

/*****************************************************************************/
/*
/* Formas y Contacto
/*
/*****************************************************************************/

.sendbutton {
  text-align: center;
  padding: 15px;
  border-radius: 2px;
  position: relative;
  font-weight: 500;
  font-size: 1.2em;
  border: 1px solid $black;
  cursor: pointer;
  display: block;
  width: 100px;
  background-color: $black;
  color: $white;
  transition: ease .2s;
  margin-top: 20px;
  margin-bottom: 3em;

          &:hover{
            background-color: $white;
            color:black;
            border: solid 1px $black;

              &::before{
                background-color:white;
              }

              &::after{
                background-color: $black;
              }
          }
      }

form{
  width:50%;
}

label{
    font-weight: 300;
    font-size: 1.3em;
    float: left;
    clear:both;
}

input{
  line-height: 2;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid lightgrey;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  padding-left: 10px;
  float: left;
  clear:both;

    &:focus {
    outline-color: $blue;
    }
}

textarea{
  line-height: 2;
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid lightgrey;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  padding-left: 10px;
  float: left;
  clear:both;
  min-height: 100px;
  width: 100%;

      &:focus {
    outline-color: $blue;
    }
}

.social-links{
  list-style-type: none;
  margin-bottom: 12.25em;
  margin-left: 0px;


    li{
      width: 100px;
      height: 100px;
      margin: 0;
      float: left;
      background-color: $black;
      transition: ease 0.4s;
      background-image: url(/images/social.svg);
      background-repeat: no-repeat;
      background-size: 330px;
      }
}

.email {
  clear: left;
  background-position: 10px 10px;
      &:hover{
        background-color: $mail;
      }
}

.facebook {
  background-position: -70px 10px;
  opacity: 0.9;
      &:hover{
        background-color: $facebook;
        opacity: 1;
      }
}

.twitter {
  background-position: -237px 10px;
      &:hover{
        background-color: $twitter;
      }
}

.tumblr {
  background-position: -155px 10px;
  opacity: 0.9;
      &:hover{
        background-color: $tumblr;
        opacity: 1;
      }
}

/*****************************************************************************/
/*
/* Ojo animado
/*
/*****************************************************************************/

#cursorOjo{
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-image: url("/images/eye.svg");
  background-size: contain;
}

.contenedorOjo {
    width:150px;
    margin:0 auto;
    position:relative;
}
.cajaOjo {
  width: 55px;
  height: 30px;
  position: absolute;
  top: -65px;
  left: 47px;
  overflow: hidden;
  z-index: -1;
}

/*****************************************************************************/
/*
/* Loader
/*
/*****************************************************************************/

#loaderindex {
  background-color: $white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000; 
}

#loadereye {
  background-image: url(/images/loader.svg);
  background-size: contain;
  width: 100px;
  height: 62px;
  margin: 0 auto;
  margin-top: 150px;
  position: relative; }

#loadergif {
  background-image: url(/images/ajaxloader.gif);
  width: 33px;
  height: 33px;
  margin: 0 auto; 
}

/*****************************************************************************/
/*
/* "Carousel Inicio"
/*
/*****************************************************************************/

figure {
	margin: 0;
	position: relative;
	overflow: hidden;
	max-height: 720px;
  margin-bottom: 30px;

	img {
		max-width: 100%;
		display: block;
		position: relative;
		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s, opacity 0.8s;
    opacity: 1;
	}

	&:hover {
		img{
			-webkit-transform: translateY(-50px);
			-moz-transform: translateY(-50px);
			-ms-transform: translateY(-50px);
			transform: translateY(-50px);
      opacity:0.9;
		}
		figcaption {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			-ms-transform: translateY(0px);
			transform: translateY(0px);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
			-moz-transition: -moz-transform 0.4s, opacity 0.1s;
			transition: transform 0.4s, opacity 0.1s;
		}
	}
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: $black;
	color: white;
	height: 22%;
	min-height: 110px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;

      h2 {
        font-size: 2em;
        line-height: 20px;
        margin-bottom: 0.35em;
        text-transform: uppercase;
      }

      p {
        font-size: 15px;
        margin-bottom: 1.45em;
      }

    	a {
        text-align: center;
        padding: 15px 14px 15px 67px;
        border-radius: 2px;
        position: relative;
        font-weight: 500;
        font-size: 1.2em;
        display: block;
        width: 100px;
        background-color: white;
        color: #272727;
        transition: ease .2s;

          &::before {
            content: '';
            position: absolute;
            top: 39px;
            display: block;
            left: 24px;
            width: 30px;
            margin-left: 0px;
            height: 30px;
            margin-top: -31px;
            background-color: $black;
            -webkit-border-top-left-radius: 30px;
            -webkit-border-bottom-right-radius: 30px;
            -moz-border-radius: 30px 0 30px 0;
            border-radius: 32px 0 32px 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            transition: ease .2s;
          }
          &::after {
            content: '';
            display: block;
            left: 32px;
            top: 40px;
            position: absolute;
            width: 10px;
            z-index: 20;
            height: 10px;
            border: 2px solid #fff;
            margin-top: -24px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            transition: ease .2s;
          }

          &:hover{
            background-color: $black;
            color:white;

              &::before{
                background-color:white;
              }

              &::after{
                background-color: $black;
              }
          }
    	}
}