  <form action="http://formspree.io/ro@rodrigosalmeron.mx" method="POST">
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email</label>
    <input type="email" id="email" name="_replyto"><br>
    <label for="message">Mensaje</label>
    <textarea name="message" id="message"></textarea><br>
    <input type="hidden" name="_next" value="/gracias/" />
    <input type="text" name="_gotcha" style="display:none" />
    <input type="submit" value="Enviar" class="sendbutton">
  </form>
