RewriteCond %{HTTP_HOST} !^rodrigosalmeron.mx$ [NC]
RewriteCond %{HTTP_HOST} !^mail.rodrigosalmeron.mx$ [NC]
RewriteRule ^(.*)$ http://rodrigosalmeron.mx/$1 [L,R=301]

RedirectMatch 301 ^/portafolio/?$ /

ErrorDocument 404 /404/

# 3 WEEKS
<FilesMatch "\.(jpg|svg|png|ico)$">
Header set Cache-Control "max-age=1814400, public"
</FilesMatch>

# 1 WEEK
<FilesMatch "\.(css|js)$">
Header set Cache-Control "max-age=604800, proxy-revalidate"
</FilesMatch>