{% include head.html %}

  <body>

    <div id="loaderindex">
        <div id="loadereye"></div>
        <div id="loadergif"></div>
     </div>

    <div class="site">
      <div class="sidebar" id="sidebar">
        <div class="header">
          <h1 class="title">Rodrigo Salmerón</h1>
          <a href="/"><img id="logo" src="/images/logo2.svg" alt="rodrigo salmeron"></a>
        </div>

        <div class="contenedorOjo">
          <div class="cajaOjo">
                  <div id="cursorOjo"></div>
          </div>
        </div>

        <nav>
          <ul>
              <li {% if page.title == 'Acerca de mi' %}
                class= "active"
              {% endif %}>
                 <a href="/acercademi/">
                  Acerca de mi
                 </a>
              </li>
              <li{% if page.title == 'Contacto' %}
                class= "active"
              {% endif %}> 
                  <a href="/contacto/">
                Contacto
                  </a>
              </li>
              <li>
                 <a>
                Proyectos
                  </a>
              </li>
            </ul>
            <ul>
                {% for post in site.posts %}
                  <li{% if page.title == post.title %}
                   class= "activesub"
                  {% endif %}>
                    <a href="{{ post.url }}">
                      {{ post.title }}
                    </a>
                  </li>
                {% endfor %}
            </ul>
        </nav>
      </div>

        {{ content }}

    </div>
    <script src="/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
