---
layout: default
---
<div class="content" id="home">
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images{{ page.url }}{{ page.cover }}" alt="Rodrigo Salmeron | {{ page.title }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
    </div>
  </div>

  <div class="post">
    <h2><em>Proyecto:</em> {{page.description}}</h2>
    {{ content }}
    {% for image in page.images %}
    <img src="/images{{ page.url }}{{ image }}">
    {% endfor %}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Rodrigo Salmeron ©.Derechos Reservados, 20{{ site.time | date: '%y' }}</span>
    </p>
  </div>
</div>
